.header {
	height: 4rem;
	box-shadow: 0 0.375em 0 hsla(0, 0%, 0%, 0.03);
	background: hsla(240, 17%, 99%, 0.97);
	border-bottom: 0.0625em solid #fff;
	font-family: "calluna-sans", Helvetica, Helvetica Neue, Arial;
}

.nav-link {
	display: inline-block;
	color: #99a0b0;
	background: transparent;
}

.nav-link:hover {
	color: #f27f7a;
}

.down {
	color: #f27f7a;
	font-size: 4rem;
	font-weight: 800;
}

.nav-logo {
	color: #6f788e;
	background: transparent;
	font-family: 'Righteous', cursive;
	text-shadow: 1px 1px #bbc2d2;
	letter-spacing: 3px;
}

.intro {
	font-family: 'Righteous', cursive;
	color: #eae4e4;
	text-shadow: 0.125em 0.125em 0 hsla(0, 0%, 0%, 0.05);
}

.intro-name {
	text-shadow: 2px 2px #bbc2d2;
	letter-spacing: 15px;
}

.three-dots {
	letter-spacing: 5px;
}

.intro-titr {
	letter-spacing: 10px;
}

.space-3 {
	letter-spacing: 3px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cornered-0 {
	height: 0px;
	border-top: 2.5rem solid rgba(40, 48, 57, 0);
	border-right: 40px solid #f7f7f7;
	border-left: 40px solid #f7f7f7;
}

.cornered-1 {
	height: 0px;
	border-top: 2.5rem solid rgba(40, 48, 57, 0);
	border-right: 40px solid #2c3e50;
	border-left: 40px solid #2c3e50;
}

.cornered-2 {
	height: 0px;
	border-top: 2.5rem solid rgba(40, 48, 57, 0);
	border-right: 40px solid rgba(40, 48, 57, 1);
	border-left: 40px solid rgba(40, 48, 57, 1);
}

.footer-link {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.bg-zero {
	background-color: #f7f7f7;
}

.bg-one {
	background-color: #2c3e50;
}

.bg-two {
	background-color: rgba(40, 48, 57, 1);
}

.project-image img {
	object-fit: cover;
	width: 100%;
}

.projects {
	object-fit: cover;
	width: 400px;
}

.text-dirty {
	color: #d4cec2;
}

.content {
	min-height: 100vh;
}

.social {
	height: 18rem;
	box-shadow: 0 0.375em 0 hsla(0, 0%, 0%, 0.03);
	background: hsla(240, 17%, 99%, 0.97);
	border-bottom: 0.0625em solid #fff;
	font-size: 131.25%;
}

.social-links a {
	width: 2.5em;
	height: 2.5em;
	line-height: 1.25em;
	font-size: 1.5em;
	text-align: center;
	text-indent: 0;
	display: inline-block;
	border-radius: 50%;
	border: 0;
	color: #c2c8d6;
	background: #56617a;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-links a:hover {
	color: #f27f7a;
	text-decoration: none;
}
