*{
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    color:rgb(40,48,57);
}

html{
    scroll-snap-type: y mandatory;
}

body{
    margin:0;
}
a{
    font-size: large;
}
nav{
    background-color: rgb(252,248,247);
    width:100%;
    height:3rem;
    position: fixed;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav div{
    display: inline;
    padding:0;
    margin:0;
    color:rgb(40,48,57);
}

nav div a{
    text-decoration: none;
}

.content{
    background-color:rgb(241,109,86);
    width:100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    scroll-snap-align: start;
}
.name-surname{
    font-weight: bold;
    color:rgb(252,248,247); 
}

.main-info{
    margin:10px; 
    color:rgb(252,248,247); 
}

.main-info span{
    overflow: hidden; 
    border-right: 0.7em solid rgb(252,248,247);
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret-top 1s step-end infinite;
}

.main-info-container{
    text-align:left ; 
}

.pr1{
    background-color:rgb(238,181,62);
}

.pr2{
    background-color:rgb(0,91,169);
}

.pr3{
    background-color:rgb(87,150,104);
}

.project-container{
    width: 90%;
    min-height:80vh;
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(252,248,247, 0.3);
    align-items: center;
}

.project-image{
    width:50%;
}

.project-image img{
    max-width:80%;
    max-height: 50%;
}

.project-info{
    text-align: left;
    width:50%;
}

@media screen and (max-width: 600px) {
    .project-container{
        flex-direction: column;
    }
    .project-image{
        width:100%;
    }
    .project-info{
        text-align: left;
        width:100%;
    }
}

.project-title{
    font-weight: bold;
    margin:10px;
}

.info{
    margin:10px 10px 25px 10px; 
}

.project-code{
    margin:10px;
}

.project-code span{
    overflow: hidden; 
    border-right: 0.7em solid rgb(40,48,57);
    white-space: nowrap; 
    margin: 0 auto; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 1s step-end infinite;
}

.spacer{
    margin:20px;
}

footer{
    position: fixed;
    bottom:0;
    width:100%;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cornered{
    height: 0px;
    border-top: 3rem solid rgba(40,48,57,0);
    border-right: 40px solid rgba(40,48,57,1);
    border-left: 40px solid rgba(40,48,57,1);
}

.footer-link{
    background-color:rgba(40,48,57,1);
    color:rgb(252,248,247);
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.link-left{
    justify-content: flex-start;
}

.link-right{
    justify-content: flex-end;
}

footer div div{
    display:inline;
    color:rgb(252,248,247);
    padding:0;
    margin:0;
}

footer div div a{
    text-decoration: none;
    color:rgb(252,248,247);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(252,248,247);
    opacity: 1;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(40,48,57);
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(40,48,57); }
  }
  @keyframes blink-caret-top {
    from, to { border-color: transparent }
    50% { border-color: rgb(252,248,247); }
  }